---
title: "Home"
---

<section id="welcome">
    <h1>Welcome to The Footlight</h1>
    <p><dfn>The Footlight</dfn> is a music venue and bar, featuring all genres, local oriented music and cultural programming.</p>
    <ol id="welcome-carousel">
        {% for feature in site.data.feature-carousels.welcome %}
        <li id="">
            <a href="{{ feature.url }}">
                <img src="{{ feature.image_url | relative_url }}" alt="{{ feature.image_alt }}" />
            </a>
        </li>
        {% endfor %}
    </ol>
</section>

<section id="featured-posts">
    <h1>Featured</h1>
    <ol>{% for post in site.posts %}{% if post.featured %}<li>
            {% include h-entry.html entry=post excerpt_only=true %}
        </li>{% endif %}{% endfor %}</ol>
</section>
