---
title: Home
layout: default
---

{% assign images = site.data.gallery | where: "featured", true %}
{% if images %}
<section id="welcome">
    <h1>Welcome to {{ site.title }}</h1>
    <ul id="gallery">{% for image in images %}
    {% include gallery-image.html image=image %}
    {% endfor %}</ul>
</section>
{% endif %}

{% assign posts = site.posts | where: "featured", true %}
{% if posts.length %}
<section id="featured-posts">
    <h1>Featured</h1>
    <ol>{% for post in posts %}
    <li>
        {% include h-entry.html entry=post excerpt_only=true %}
    </li>
    {% endfor %}</ol>
</section>
{% endif %}

{% assign posts = site.posts | where: "featured", false %}
<section id="blog-posts">
    <h1>Blog</h1>
{% if posts.length %}
    <ol>{% for post in posts %}
    <li>
        {% include h-entry.html entry=post excerpt_only=true %}
    </li>
    {% endfor %}</ol>
{% else %}
    <p style="text-align: center;">No blog posts published yet.</p>
{% endif %}
</section>
