<footer id="MainFooter">
    <p class="h-card vcard">
        <img src="{{ "/static/images/logo.thefootlightbar.white-on-black.470x534.png" | relative_url }}" alt="" class="u-photo photo" />
        <a href="{{ site.url }}" class="p-name fn p-org org u-url url">The Footlight</a>,
        <span class="adr">
            <span class="p-street-address street-address">465 Seneca Ave</span>,
            <span class="p-locality locality">Ridgewood</span>,
            <span class="p-region region">NY</span>,
            <span class="p-postal-code postal-code">11385</span>
        </span>
        <a href="tel:+17186738211" class="p-tel tel">(718) 673-8211</a>
        <a href="mailto:footlightbar@gmail.com" class="u-email email">footlightbar@gmail.com</a>
    </p>
    <p>(<a href="http://suda.co.uk/projects/microformats/hcard/get-contact.php?uri={{ "/contact/" | absolute_url | cgi_escape }}">Add our contact information to your address book</a>.)</p>
    <nav>
    {% include site-navigation.html %}
    </nav>
    <p>Website by <a href="https://shiftctrl.space/">Shift-CTRL Space</a>.</p>
</footer>
