{% assign recur_class = "none" %}
{% case event.Recurrence | upcase %}
    {% when "HOURLY" %}
        {% assign num_seconds = 3600 %}
        {% assign recur_class = event.Recurrence | downcase %}
    {% when "DAILY" %}
        {% assign num_seconds = 86400 %}
        {% assign recur_class = event.Recurrence | downcase %}
    {% when "WEEKLY" %}
        {% assign num_seconds = 604800 %}
        {% assign recur_class = event.Recurrence | downcase %}
    {% when "YEARLY" %}
        {% comment %}TODO: Make YEARLY value, accounting for leap years.{% endcomment %}
        {% assign recur_class = event.Recurrence | downcase %}
{% endcase %}
{% if event.Recurrence and nil == event.Recurrence_Count %}
    {% case event.Recurrence | upcase %}
        {% when "HOURLY" %}
            {% assign recurrence_count = site.iCalendar.rrule_count_max_when_hourly_missing %}
        {% when "DAILY" %}
            {% assign recurrence_count = site.iCalendar.rrule_count_max_when_daily_missing %}
        {% when "WEEKLY" %}
            {% assign recurrence_count = site.iCalendar.rrule_count_max_when_weekly_missing %}
    {% endcase %}
{% else %}
    {% assign recurrence_count = event.Recurrence_Count | default: 1 | plus: 0 %}
{% endif %}
<ol class="h-events recurrence-{{ recur_class }}">
{% for i in (1..recurrence_count) %}
{% assign x = i | minus: 1 %}
{% if i == 1 %}
    {% assign seconds_offset = 0 %}
{% else %}
    {% assign seconds_offset = num_seconds | times: x %}
{% endif %}
{% assign start_date_unixtime = event.Start_Date | date: "%s" | plus: seconds_offset %}
{% assign end_date_unixtime = event.End_Date | date: "%s" | plus: seconds_offset %}
    <li class="h-event vevent">
        <ul>
            <li class="event-image">
                <img src="{{ event.Image | default: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mN8Ucr4HwAGCgJf+4iXZgAAAABJRU5ErkJggg==" }}" alt="" />
                <div class="event-date-box">
                    {% if event.Recurrence %}
                    <span class="event-recurrence">
                        {{ recur_class | capitalize }} on
                        {% case recur_class %}
                            {% when "weekly" %}
                                {{ start_date_unixtime | date: "%A" }}s
                        {% endcase %}
                        starting
                    </span>
                    {% endif %}
                    <span class="event-start-month">{{ event.Start_Date | date: "%b" }}</span>
                    <span class="event-start-day">{{ event.Start_Date | date: "%e" }}</span>
                </div>
            </li>
            <li class="p-summary summary p-name">
                {{ event.Summary }}
            </li>
            <li class="p-location location">
                {% assign location = event.Location | default: site.iCalendar.defaults.location | split: "," %}
                <span class="h-adr adr">
                    {% if location[0] %}<span class="p-street-address street-address">{{ location[0] | strip }}</span>{% endif %}
                    {% if location[1] %}<span class="p-extended-address extended-address">{{ location[1] | strip }}</span>{% endif %}
                    {% if location[2] %}<span class="p-locality locality">{{ location[2] | strip }}</span>{% endif %}
                    {% if location[3] %}<span class="p-region region">{{ location[3] | strip }}</span>{% endif %}
                    {% if location[4] %}<span class="p-postal-code postal-code">{{ location[4] | strip }}</span>{% endif %}
                    {% if location[5] %}<span class="p-country country">{{ location[5] | strip }}</span>{% endif %}
                </span>
            </li>
            <li class="event-datetime">
                    <abbr class="dt-start dtstart" title="{{ start_date_unixtime | date: "%Y%m%d" }}T{{ event.Start_Time | date: "%H%M%S" }}"><span class="event-start-date">{{ start_date_unixtime | date: site.iCalendar.date_format }}</span> <span class="event-start-time">{{ event.Start_Time | date: site.iCalendar.time_format }}</span></abbr>
                    <abbr class="dt-end dtend" title="{{ end_date_unixtime | date: "%Y%m%d" }}T{{ event.End_Time | date: "%H%M%S" }}"><span class="event-end-date">{{ end_date_unixtime | date: site.iCalendar.date_format }}</span> <span class="event-end-time">{{ event.End_Time | date: site.iCalendar.time_format }}</span></abbr>
            </li>
            {% if event.Status %}<li class="event-status">
                Status: <span class="status">{{ event.Status | upcase }}</span>
            </li>{% endif %}
            <li class="p-description description">
                {{ event.Description }}
            </li>
            {% if event.URL %}<li>
                <a href="{{ event.URL }}" class="u-url url">More info</a>
            </li>{% endif %}
        </ul>
    </li>
{% endfor %}
</ol>
