{% for calendar in site.data.calendars %}
    {% for event in calendar[1] %}
        {% assign event_slug = event.Summary | slugify %}
        {% if event_slug == include.entry.slug %}
            {% include h-event.html event=event %}
            <div>
                <p>Save event information:</p>
                <ul>
                    <li><a href="{% include google-calendar-url.html event=event %}" title="Add this event to your Google Calendar.">Google Calendar</a></li>
                    <li><a href="http://h2vx.com/ics/{{ include.entry.url | absolute_url | cgi_escape }}" title="Download this event as an iCalendar file.">iCal</a></li>
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
