{% assign recur_class = "none" %}
{% case event.Recurrence | upcase %}
    {% when "HOURLY" %}
        {% assign num_seconds = 3600 %}
        {% assign recur_class = event.Recurrence | downcase %}
    {% when "DAILY" %}
        {% assign num_seconds = 86400 %}
        {% assign recur_class = event.Recurrence | downcase %}
    {% when "WEEKLY" %}
        {% assign num_seconds = 604800 %}
        {% assign recur_class = event.Recurrence | downcase %}
    {% when "YEARLY" %}
        {% comment %}TODO: Make YEARLY value, accounting for leap years.{% endcomment %}
        {% assign recur_class = event.Recurrence | downcase %}
{% endcase %}
{% if event.Recurrence and nil == event.Recurrence_Count %}
    {% case event.Recurrence | upcase %}
        {% when "HOURLY" %}
            {% assign recurrence_count = site.iCalendar.h_event.rrule.max_when_hourly_missing %}
        {% when "DAILY" %}
            {% assign recurrence_count = site.iCalendar.h_event.rrule.max_when_daily_missing %}
        {% when "WEEKLY" %}
            {% assign recurrence_count = site.iCalendar.h_event.rrule.max_when_weekly_missing %}
    {% endcase %}
{% else %}
    {% assign recurrence_count = event.Recurrence_Count | default: 1 | plus: 0 %}
{% endif %}
<ol class="h-events recurrence-{{ recur_class }}">
{% for i in (1..recurrence_count) %}
{% assign x = i | minus: 1 %}
{% if i == 1 %}
    {% assign seconds_offset = 0 %}
{% else %}
    {% assign seconds_offset = num_seconds | times: x %}
{% endif %}
{% assign start_date_unixtime = event.Start_Date | date: "%s" | plus: seconds_offset %}
{% assign start_time_parts = event.Start_Time | split: ":" %}
{% assign start_hour_in_seconds = 60 | times: 60 | times: start_time_parts[0] | default: 0 %}
{% assign start_minute_in_seconds = 60 | times: start_time_parts[1] | default: 0 %}
{% assign start_second_in_seconds = start_time_parts[2] | default: 0 %}
{% assign start_time_in_seconds = 0 | plus: start_hour_in_seconds | plus: start_minute_in_seconds | plus: start_second_in_seconds %}
{% assign end_date_unixtime = event.End_Date | date: "%s" | plus: seconds_offset %}
{% assign end_time_parts = event.End_Time | split: ":" %}
{% assign end_hour_in_seconds = 60 | times: 60 | times: end_time_parts[0] | default: 0 %}
{% assign end_minute_in_seconds = 60 | times: end_time_parts[1] | default: 0 %}
{% assign end_second_in_seconds = end_time_parts[2] | default: 0 %}
{% assign end_time_in_seconds = 0 | plus: end_hour_in_seconds | plus: end_minute_in_seconds | plus: end_second_in_seconds %}
    <li class="h-event vevent">
        <ul>
            <li class="event-image">
                {% assign placeholder_image = "/static/images/" | append: site.iCalendar.defaults.image | relative_url %}
                <img src="{{ event.Image | default: placeholder_image }}" alt="" />
            </li>
            <li class="p-summary summary p-name">
                {{ event.Summary }}
            </li>
            <li class="p-location location">
                {% assign location = event.Location | default: site.iCalendar.defaults.location | split: "," %}
                <span class="h-adr adr">
                    {% if location[0] %}<span class="p-street-address street-address">{{ location[0] | strip }}</span>{% endif %}
                    {% if location[1] %}<span class="p-extended-address extended-address">{{ location[1] | strip }}</span>{% endif %}
                    {% if location[2] %}<span class="p-locality locality">{{ location[2] | strip }}</span>{% endif %}
                    {% if location[3] %}<span class="p-region region">{{ location[3] | strip }}</span>{% endif %}
                    {% if location[4] %}<span class="p-postal-code postal-code">{{ location[4] | strip }}</span>{% endif %}
                    {% if location[5] %}<span class="p-country country">{{ location[5] | strip }}</span>{% endif %}
                </span>
            </li>
            <li class="event-datetime">
                {% if event.Recurrence %}
                <div class="event-date-box">
                    <span class="event-recurrence">
                        {{ recur_class | capitalize }} on
                        {% case recur_class %}
                            {% when "weekly" %}
                                {{ start_date_unixtime | date: "%A" }}s
                        {% endcase %}
                        starting
                        <span class="event-start-month">{{ event.Start_Date | date: "%B" }}</span>
                        <span class="event-start-day">{{ event.Start_Date | date: "%e" }}</span>
                    </span>
                </div>
                {% endif %}
                <abbr class="dt-start dtstart" title="{{ start_date_unixtime | plus: start_time_in_seconds | date_to_xmlschema }}"><span class="event-start-date">{{ start_date_unixtime | date: site.iCalendar.date_format }}</span> <span class="event-start-time">{{ event.Start_Time | date: site.iCalendar.time_format }}</span></abbr>
                <abbr class="dt-end dtend" title="{{ end_date_unixtime | plus: end_time_in_seconds | date_to_xmlschema }}"><span class="event-end-date">{{ end_date_unixtime | date: site.iCalendar.date_format }}</span> <span class="event-end-time">{{ event.End_Time | date: site.iCalendar.time_format }}</span></abbr>
            </li>
            {% if event.Status %}<li class="event-status">
                Status: <span class="status">{{ event.Status | upcase }}</span>
            </li>{% endif %}
            <li class="p-description description">
                {% unless nil == event.Description %}
                <div>
                    {{ event.Description | newline_to_br }}
                </div>
                <span class="glyphicon glyphicon-chevron-down"></span>
                {% endunless %}
            </li>
            {% if event.URL %}<li>
                <a href="{{ event.URL }}" class="u-url url">More info</a>
            </li>{% endif %}
        </ul>
    </li>
{% endfor %}
</ol>
