<nav id="MainNavigation">
    <ul>
        {% for item in site.data.nav_menus.main  %}
        {% assign the_page = page.path | split: "/" | first %}
        {% assign the_item = item.url | split: "/" | join: "" %}
        <li id="main-nav-{{ item.text | slugify }}" class="{% if the_page == the_item %}current{% endif %}">
            <a href="{{ item.url | relative_url }}"{% if item.title_text %} title="{{ item.title_text }}"{% endif %}>
            {% if item.image_url %}
                <img src="{{ item.image_url | relative_url }}" alt="{{ item.text }}" />
            {% else %}
                {{ item.text }}
            {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</nav>
