/**
 * The Footlight Bar, NYC.
 *
 * Main stylesheet.
 */

/**
 * @group Layout.
 */
html,
body,
figure {
    margin: 0;
    border: none;
    padding: 0;
}
img {
    max-width: 100%;
    max-height: 100vh;
}
nav ul,
#featured-posts ol,
#gallery,
.posts-wrapper,
.Pagination,
#events-wrapper,
.h-events,
.h-events ul,
.icalendar-links ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}
#Masthead h1 {
    display: none;
}
#MainContent {
    padding-top: 35px;
    padding-bottom: 50px;
}
#PageWrapper {
    max-width: 90%;
    margin: 0 auto;
}
#MainFooter {
    padding-top: 50px;
    padding-bottom: 50px;
}
.TwoUp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
}
#gallery li {
    flex: 30%;
    margin: auto 1em;
    padding-bottom: 2em;
}

/**
 * @group Color palette.
 */
body {
    background: #FFF;
    color: #000;
}
#Masthead {
    background: #1C1513;
}
#MainFooter {
    background: #27201F;
}
h2,
h3,
a {
    color: #FF8010;
}
a:hover {
    color: #FF5310;
    transition: 1s;
}
#Masthead a,
#MainFooter a {
    color: #FFF;
    opacity: .9;
}

/**
 * @group Typography.
 */
@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway/Raleway-Regular.ttf");
}
body {
    font-family: "Raleway";
    line-height: 1.5em;
}
a {
    text-decoration: none;
}
abbr {
    border: none;
    text-decoration: none;
}
#MainFooter {
    color: #FFF;
    opacity: .8;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}

/**
 * @group Navigation menus.
 */
#MainNavigation ul {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: bold;
}
#MainNavigation li {
    display: inline-block;
    vertical-align: middle;
    padding: 35px 10px;
}
#MainNavigation li.current a,
#MainFooter li.current a,
#MainNavigation a:hover,
#MainFooter a:hover {
    color: #FF8010;
    transition: color .2s;
}
#MainNavigation .main-nav-home img {
    width: 200px;
    height: 246px;
    transition: width .5s, height .5s;
}
#MainFooter nav li {
    display: inline-block;
    margin: 1em;
}
#MainFooter nav img {
    height: 5em;
}
#MainNavigation .main-nav-home img:hover,
#MainFooter .main-nav-home img:hover {
    filter: hue-rotate(360deg);
    transition: filter 2s;
}

/**
 * @group Main footer.
 */
#MainFooter .u-photo {
    display: none;
}
#MainFooter .u-email,
#MainFooter .p-tel {
    margin-left: 2em;
}
#MainFooter p:last-child {
    margin-top: 3em;
    font-size: 10px;
}

/**
 * Welcome carousel.
 */
#welcome #gallery {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow-x: scroll;
}
#welcome #gallery li {
    display: inline-block;
}
#welcome #gallery {
    font-size: 0;
}
#welcome #gallery figure {
    position: relative;
}
#welcome #gallery figcaption {
    position: absolute;
    bottom: 2em;
    left: 50%;
    margin-left: -25%;
    border-radius: 2em;
    padding: .5em;
    width: 50%;
    background-color: #E8E8E7;
    color: #1C1513;
    text-align: center;
    font-size: 12px;
    white-space: normal;
    opacity: .8;
}

/**
 * @group Blog posts.
 */
.PaginationPrev a::before {
    content: "< ";
}
.PaginationNext a::after {
    content: " >";
}
.h-entry {
    margin: 0 auto 4em;
}
.h-entry .p-name,
.h-event .p-summary {
    font-size: xx-large;
    line-height: 1em;
}
.h-entry,
.Pagination {
    max-width: 680px;
}
.PaginationPrev a {
    float: left; float: inline-start;
}
.PaginationNext a {
    float: right; float: inline-end;
}
header {
    text-align: center;
}
.h-entry .dt-published {
    color: #8D8D8D;
}
.h-entry .u-url {
    color: inherit;
}
.u-featured {
    display: block;
    margin: 0 auto;
}
.h-entry .h-events,
.h-events > li:not(:first-child) {
    display: none;
}

/**
 * @group Specific page layouts.
 */
#welcome {
    margin-top: -35px;
}
#welcome h1 {
    display: none;
}
#featured-posts h1 {
    text-align: center;
}

/**
 * @group Events page.
 */
#events-wrapper .h-event,
.icalendar-links {
    clear: left;
}
#events-wrapper .event-image {
    float: left;
    max-width: 30%;
}
#events-wrapper .event-image,
#events-wrapper .h-event li:last-child {
    padding-bottom: 2em;
}
#events-wrapper .h-event li:not(.event-image) {
    margin-left: 35%;
}
#events-wrapper .p-summary {
    text-transform: uppercase;
    margin: .5em 0;
}
#events-wrapper .p-location,
#events-wrapper .h-events:not(.recurrence-none) .event-start-date,
#events-wrapper .event-end-date,
#events-wrapper .event-status {
    display: none;
}
#events-wrapper .event-start-time::before {
    content: "From ";
}
#events-wrapper .h-events.recurrence-none .event-start-time::before {
    text-transform: lowercase;
}
#events-wrapper .event-start-time::after {
    content: " to ";
}
#events-wrapper .p-description {
    margin: 1em 0;
}
.icalendar-links ul {
    text-align: center;
}
.icalendar-links li {
    display: inline;
    padding: 1em;
    white-space: nowrap;
}

/**
 * @group Mobile device styles.
 */
@media screen and (max-width: 780px) {
    #Masthead {
        padding: 0;
    }
    #MainNavigation::before {
        content: "\2630";
        position: absolute;
        top: 5px;
        left: 5px;
        color: #FFF;
        font-size: 2em;
        cursor: pointer;
    }
    #MainNavigation li {
        height: 0;
        overflow: hidden;
        padding: 0;
        transition: height .5s, padding .5s;
    }
    #MainNavigation .main-nav-home {
        display: block;
        height: auto;
    }
    #MainNavigation .main-nav-home img {
        width: 70px;
        height: 86px;
        transition: height .5s, width 5s;
    }
    #Masthead:hover #MainNavigation li {
        height: 1em;
        padding: 10px 10px 20px;
        transition: height .5s, padding .5s;
    }
    #Masthead:hover #MainNavigation .main-nav-home {
        height: auto;
        padding: 0;
    }
    #gallery li {
        flex: 100%;
    }
    .h-entry header,
    .e-content,
    .h-entry footer {
        margin-left: 1em;
        margin-right: 1em;
    }
    #MainFooter .adr {
        display: block;
    }
}

@media screen and (max-width: 520px) {
    #MainFooter .main-nav-home {
        display: block;
        margin: 0;
    }

    #events-wrapper .h-event {
        margin-bottom: 2em;
    }
    #events-wrapper .event-image {
        float: none;
        max-width: 100%;
    }
    #events-wrapper .event-image,
    #events-wrapper .h-event li:last-child {
        padding-bottom: 0;
    }
    #events-wrapper .h-event li:not(.event-image) {
        margin-left: 0;
    }
}

@media print {
    @page {
        margin: 0;
    }
    #Masthead,
    .ReadMore,
    .h-entry time,
    .download-h-events,
    .Pagination,
    #MainFooter > *,
    .icalendar-links {
        display: none;
    }
    img,
    .h-event {
        page-break-inside: avoid;
    }
    #MainContent a,
    #MainContent a:hover,
    #MainFooter a,
    #MainFooter a:hover {
        color: inherit;
    }
    #MainFooter {
        background: transparent;
    }
    #MainFooter .h-card {
        display: block;
        font-size: 9pt;
        color: #000;
    }
    #MainFooter .p-name.u-url::after {
        content: " (" attr(href) ") ";
        text-transform: lowercase;
    }
    #MainFooter .u-email,
    #MainFooter .p-tel {
        margin-left: .5em;
    }
    #MainContent,
    #MainFooter {
        padding: 0 5mm;
    }
    .h-entry {
        margin: 0;
        max-width: none;
        font-size: 12pt;
    }
    .e-content {
        font-size: 10pt;
    }
    .e-content a::after {
        content: " (" attr(href) ")";
    }
    .u-featured {
        float: left;
        margin: 0 12pt 12pt 0;
        width: 50%;
    }
}
